body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
