img {
    height: 258px;
    width: 258px;
}

p {
    width: 250px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    letter-spacing: .62px;
    color: #1A1A1A;
}

.Listing {
    margin: 24px;
}